.checkout-content {
  padding: 100px 0 110px;

  .title {
    padding-bottom: 20px;

    h5 {
      font-weight: 700;
    }
  }

  .billing-address {
    padding-right: 50px;

    .inputs-wrapper {
      padding-bottom: 30px;

      input {
        @extend %input-form;
        width: 100%;
      }
    }
  }

  .cart-totals-area {
    padding-left: 80px;

    .cart-totals-and-orders {
      padding: 30px 45px 28px;
      background-color: $primaryBgColor;
      border-radius: 4px;

      h6 {
        font-size: 22px;
        font-weight: 700;
      }

      .body {
        padding: 10px 0;
        border-top: #333;
        border-bottom: #333;

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 10px 0;

            p {
              margin: 0;
            }

            .left {
              padding-right: 55px;

              a {
                text-decoration: none;

                .title {
                  color: #000;
                  font-weight: 700;
                  transition: all 0.3s ease;
                }

                p {
                  padding: 0;
                }

                &:hover {
                  .title {
                    color: #333;
                  }
                }
              }
            }

            .right {
              p,
              span {
                font-size: 14px;
                font-weight: 700;
              }
            }
          }
        }
      }

      .bottom {
        .subtotal,
        .total {
          padding: 5px 0;
          border-bottom: #333;

          h6 {
            line-height: 24px;
          }

          p,
          h6 {
            margin: 0;
          }

          span,
          p {
            font-weight: 700;
          }
        }

        .subtotal {
          h6 {
            font-size: 16px;
          }
        }

        .total {
          p,
          span {
            font-weight: 700;
            font-size: 22px;
          }
        }
      }
    }

    .order-btn {
      padding-top: 35px;

      button {
        @extend %primary-btn;
        text-decoration: none;
      }
    }
  }

  .payment-success {
    .text {
      h5 {
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;

        a {
          text-decoration: none;
        }
      }
    }

    .back-to-shop-btn {
      padding-top: 30px;

      a {
        @extend %primary-btn;
        text-decoration: none;
        width: 204px;

        span {
          margin: 0 5px 2px 0;
        }
      }
    }
  }
}

// ======= Responsive Design ======= //
@media screen and (max-width: 991.98px) {
  .checkout-content {
    padding: 80px 0 90px;

    .billing-address {
      padding-right: 0;
    }

    .cart-totals-area {
      padding: 30px 0 0 0;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .checkout-content {
    .cart-totals-and-orders {
      padding: 25px 20px 20px !important;

      .top {
        h6 {
          font-size: 18px;
        }
      }

      .body {
        li {
          font-size: 14px;
        }
      }

      .subtotal {
        h6 {
          font-size: 15px !important;
        }

        .price {
          span,
          p {
            font-size: 15px;
          }
        }
      }

      .total {
        h6 {
          font-size: 20px;
        }

        .price {
          span,
          p {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}