#entry-slider {
  .slide-item {
    position: relative;
    height: 630px;

    .slide-content {
      position: absolute;
      top: 200px;
      left: 100px;
      width: 320px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      h6 {
        color: #68aaeb;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 3px;
      }

      h1 {
        font-size: 40px;
        font-weight: 600;
      }

      h6,
      h1 {
        margin-bottom: 30px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        @extend %primary-btn;
      }
    }
  }

  .swiper {
    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        font-size: 30px;
        color: #333;
      }
    }
  }
}

#home-products {
  padding: 60px 0 40px;

  .tabs {
    width: 650px;
    margin: 0 auto;
    padding-bottom: 40px;
    @include flex-display(flex, row, center, space-between);

    li {
      color: $primaryColor;
      font-size: 30px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        color: #000;
      }
    }

    .active-li {
      color: #000;
    }
  }
}

#discount {
  padding: 80px 0 100px;

  .item {
    @include flex-display(flex, column, center, center);

    .img {
      width: 770px;
      height: 265px;

      div {
        height: 100%;
        width: 100%;
      }

      img,
      div {
        position: static !important;
      }
    }

    .tags {
      @include flex-display(flex, row, center, center);
      padding: 35px 0px 40px;

      ul {
        @include flex-display(flex, row, center, space-between);
        width: 210px;

        a {
          font-size: 18px;
          color: $primaryColor;
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            color: #000;
          }
        }
      }
    }

    .text {
      h2 {
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 40px;
      }
    }

    .btnn {
      a {
        @extend %primary-btn;
        text-decoration: none;
        padding: 11px 40px 14px;
      }
    }
  }
}

#advantages {
  background-color: $primaryBgColor;
  padding: 60px 0;

  .item {
    &:hover {
      .icon {
        svg {
          transform: rotate3d(0, 10, 0, 180deg);
        }
      }
    }

    .icon {
      @include flex-display(flex, row, center, center);
      position: relative;
      margin: 0 auto;
      width: 65px;
      height: 65px;
      font-size: 25px;
      color: #222;
      line-height: 80px;
      background-color: #ffffff;
      border-radius: 50%;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: 1px solid #fff;
      }

      svg {
        font-size: 28px;
        transition: all 0.6s ease;
      }
    }

    p {
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}

// ======= Responsive Design ======= //
@media screen and (max-width: 991.98px) {
  #entry-slider {
    .slide-item {
      height: 400px;

      .slide-content {
        top: 88px;
        left: 80px;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #entry-slider {
    .slide-item {
      height: 310px;

      .slide-content {
        top: 55px;
        left: 60px;

        h1 {
          font-size: 34px;
        }
      }
    }
  }

  #home-products {
    .tabs {
      width: auto;

      li {
        font-size: 23px;
      }
    }
  }

  #discount {
    .item {
      .img {
        width: 100%;
        height: 177px;
      }

      .text {
        h2 {
          font-size: 25px;
        }
      }
    }
  }

  #advantages {
    .item {
      padding: 25px 0;
    }
  }
}

@media screen and (max-width: 575.98px) {
  #entry-slider {
    .slide-item {
      height: 250px;

      .slide-content {
        width: 168px;
        top: 40px;
        left: 35px;

        h6 {
          font-size: 12px;
        }

        h1 {
          font-size: 22px;
        }

        .link {
          a {
            font-size: 11px;
            padding: 6px 26px 9px;
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  #home-products {
    .tabs {
      li {
        font-size: 20px;
        text-align: center;
      }
    }
  }

  #discount {
    .item {
      .img {
        width: 320px;
        height: 110px;
      }

      .text {
        h2 {
          font-size: 20px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #discount {
    .item {
      .img {
        width: 250px;
        height: 86px;
      }
    }
  }
}