#product-details {
  padding: 100px 0;

  .img-slider {
    padding: 10px 0 0 100px;

    .little-img-wrapper {
      height: 310px;

      .img-wrapper {
        button {
          width: 70px;
          height: 90px;
          padding: 4px;
          margin-right: 15px;
          border: 1px solid #fff;

          div {
            height: 100%;
            width: 100%;
          }

          img,
          div {
            position: static !important;
          }

          img:first-of-type {
            object-fit: contain;
          }
        }
      }

      .active-little-img {
        button {
          border: 1px solid $primaryColor !important;
        }
      }
    }

    .big-img-wrapper {
      height: 100%;

      .img-wrapper {
        width: 320px;
        height: 440px;

        div {
          height: 100%;
          width: 100%;
        }

        img,
        div {
          position: static !important;
        }

        img {
          object-fit: contain;
        }
      }
    }
  }

  .product-info {
    padding: 0 0 60px 20px;

    .rating-area {
      padding-bottom: 16px;

      span {
        color: #f5cc26;
        font-size: 20px;
        margin-right: 10px;
      }
    }

    .title {
      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }
    }

    .price {
      padding-bottom: 20px;

      .old-price {
        color: $primaryColor;
        text-decoration: line-through;
      }

      .new-price {
        padding-left: 8px;
        font-size: 19px;
        font-weight: 600;
      }
    }

    .description {
      padding-bottom: 30px;

      p {
        color: $primaryColor;
      }
    }

    .add-to-cart-btn {
      padding-bottom: 40px;
      border-bottom: 1px solid #ccc;

      button {
        @extend %primary-btn;
      }
    }

    .table {
      width: 450px;
      padding-top: 30px;

      tr {
        border: 0;

        td {
          padding: 8px 0;

          &:nth-child(1) {
            font-weight: 600;
          }

          &:nth-child(2) {
            p,
            a {
              color: $primaryColor;
            }

            a {
              text-decoration: none;
              transition: all 0.3s ease;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }

      ul {
        @include flex-display(flex, row, center, space-between);
        width: 130px;

        a svg {
          font-size: 20px;
        }

        .twitter svg {
          font-size: 21px;
        }

        .facebook svg {
          font-size: 22px;
        }
      }
    }
  }

  .reviews {
    padding-top: 60px;
    border-top: 1px solid #ccc;

    .users-comments {
      padding: 0 250px;

      .title {
        padding-bottom: 50px;

        h3 {
          font-weight: 400;
        }
      }

      .user-item {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ccc;

        .img img {
          border-radius: 50%;
        }

        .info {
          .rating {
            color: #f5cc26;
            font-size: 18px;
          }

          .title-and-date {
            h6 {
              font-size: 18px;
            }

            p {
              font-size: 14px;
              color: $primaryColor;

              &::before {
                content: "/";
                margin: 0 5px 0 20px;
              }
            }
          }

          .message p {
            font-size: 17px;
            color: $primaryColor;
          }
        }
      }
    }

    .review-form {
      padding: 20px 250px 0;

      h3 {
        font-weight: 400;
        margin-bottom: 10px;
      }

      .rating {
        @include flex-display(flex, row, center, space-between);
        padding-bottom: 40px;
        width: 210px;

        p {
          margin: 4px 0 0;
          font-size: 13.5px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }

        .stars {
          width: 95px;
          @include flex-display(flex, row-reverse, center, space-between);

          input[type="radio"] {
            display: none;
          }

          label {
            font-size: 17px;
            cursor: pointer;
            color: #dfdbdb;
            transition: all 0.3s ease;
          }

          input[type="radio"]:not(:checked) ~ label:hover,
          input[type="radio"]:not(:checked) ~ label:hover ~ label {
            color: #f5cc26;
          }

          input[type="radio"]:checked ~ label {
            color: #f5cc26;
          }

          input[type="radio"]#rate-5:checked ~ label {
            color: #f5cc26;
          }

          .first-star {
            color: #f5cc26;
          }
        }
      }

      .message-area {
        .input-wrapper {
          padding-bottom: 30px;

          input {
            @extend %input-form;
            border-bottom: 2px solid #ccc;
          }
        }

        .textarea-wrapper {
          textarea {
            @extend %input-form;
            border-bottom: 2px solid #ccc;
          }
        }

        .submit-review-btn {
          @include flex-display(flex, row, center, center);
          padding-top: 10px;

          input[type="submit"] {
            @extend %primary-btn;
            padding: 9px 40px 12px;
          }
        }
      }
    }
  }
}

// ======= Responsive Design ======= //
@media screen and (max-width: 1199.98px) {
  .img-slider {
    .big-img-wrapper {
      height: 100%;

      .img-wrapper {
        width: 258px !important;
        height: 335px !important;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  #product-details {
    .img-slider {
      padding: 0 0 50px;

      .little-img-wrapper {
        height: 450px !important;

        button {
          height: 127px !important;
          width: 100px !important;
        }
      }

      .big-img-wrapper {
        height: auto !important;

        .img-wrapper {
          height: 600px !important;
          width: 100% !important;
          padding: 0 !important;
        }
      }
    }

    .reviews {
      .users-comments {
        padding: 0;
      }

      .review-form {
        padding: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #product-details {
    .img-slider {
      .big-img-wrapper {
        .img-wrapper {
          height: 500px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  #product-details {
    .img-slider {
      .little-img-wrapper {
        height: 280px !important;

        button {
          height: 75px !important;
          width: 58px !important;
        }
      }

      .big-img-wrapper {
        .img-wrapper {
          height: 400px !important;
        }
      }
    }

    .product-info {
      .table {
        width: auto !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #product-details {
    .img-slider {
      .big-img-wrapper {
        .img-wrapper {
          height: 267px !important;
        }
      }
    }
  }
}
