.sorting-bar {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;

  .products-found {
    span,
    p {
      color: $primaryColor;
      letter-spacing: 0.3px;
    }

    span {
      margin-right: 5px;
    }
  }

  .sorting {
    @include flex-display(flex, row, center, flex-end);

    select {
      width: 170px;
      font-size: 15px;
      padding-bottom: 3px;
      padding-left: 0;
      cursor: pointer;
      color: $primaryColor;
      border: none;
      outline: none;
      border-bottom: 2px solid #ccc;
    }
  }
}

.sidebar-and-products {
  padding: 100px 0;

  .sidebar {
    h4 {
      margin-bottom: 25px;
      font-weight: 400;
    }

    .categories {
      padding-bottom: 50px;

      ul {
        height: 240px;
        @include flex-display(flex, column, flex-start, space-between);

        li {
          color: $primaryColor;
          font-size: 15px;
          cursor: pointer;
          line-height: 17px;
          text-decoration: none;
          position: relative;

          &:hover {
            &::after {
              transform: scaleX(1);
              transform-origin: 0% 50%;
            }
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            transform: scaleX(0);
            transform-origin: 100% 50%;
            transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
          }
        }
      }
    }

    .popular-products {
      padding-right: 42px;
      margin-bottom: 27px;
      height: 592px;
      overflow: hidden;

      h4 {
        margin-bottom: 35px;
      }

      li {
        &:nth-of-type(2) {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 20px 0;
          margin: 20px 0;
        }

        &:nth-of-type(3) {
          margin-bottom: 100px;
        }

        .item {
          .img {
            height: 140px;
            width: 100px;

            div {
              height: 100%;
              width: 100%;
            }

            img,
            div {
              position: static !important;
            }
          }

          .info {
            padding-left: 20px;

            .title a {
              color: $primaryColor;
              text-decoration: none;
              transition: all 0.3s ease;

              &:hover {
                color: #000;
              }
            }

            .price {
              padding: 3px 0;

              del {
                font-size: 12px;
                font-weight: 500;
                text-decoration: line-through;
                color: $primaryColor;
              }

              span {
                font-size: 14px;
                font-weight: 500;
                margin-left: 5px;
              }
            }

            .rating {
              color: #f5cc26;
              font-size: 19px;
            }
          }
        }
      }
    }

    .tags {
      button {
        color: $primaryColor;
        letter-spacing: 0.5px;

        &:hover {
          color: $darkColor;
        }
      }

      button:not(:last-child):after {
        content: "/";
        font-size: 16px;
        color: $primaryColor;
        margin: 0 7px;
      }
    }
  }

  .products {
    .product-card {
      .img {
        height: 270px;
      }
    }

    .load-more-btn {
      @include flex-display(flex, row, center, center);
      padding-top: 10px;

      button {
        padding: 10px 40px;
        font-size: 13px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        background-color: $darkColor;
        color: #fff;
        transition: all 0.3s ease;

        &:hover {
          background-color: #adb5bd;
        }
      }
    }
  }
}
