.sorting-bar {
  padding: 20px 0;
  border-bottom: 1px solid #d8d8d8;

  .products-found {
    span,
    p {
      color: $primaryColor;
      letter-spacing: 0.3px;
    }

    span {
      margin-right: 5px;
    }
  }

  .wrapper {
    .sorting {
      @include flex-display(flex, row, center, flex-end);

      select {
        width: 170px;
        font-size: 15px;
        padding-bottom: 3px;
        padding-left: 0;
        cursor: pointer;
        color: $primaryColor;
        border: none;
        outline: none;
        border-bottom: 2px solid #ccc;
      }
    }

    .filter-btn {
      display: none;
    }
  }
}

.sidebar-and-products {
  padding: 100px 0;

  .sidebar {
    h4 {
      margin-bottom: 25px;
      font-weight: 400;
    }

    .close-btn {
      display: none;
    }

    .popular-products {
      padding-right: 42px;
      margin-bottom: 52px;

      h4 {
        margin-bottom: 35px;
      }

      li {
        &:nth-of-type(2) {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          padding: 20px 0;
          margin: 20px 0;
        }

        .item {
          .img {
            height: 140px;
            width: 100px;

            div {
              height: 100%;
              width: 100%;
            }

            img,
            div {
              position: static !important;
            }
          }

          .info {
            padding-left: 20px;

            .title a {
              color: $primaryColor;
              text-decoration: none;
              transition: all 0.3s ease;

              &:hover {
                color: #000;
              }
            }

            .price {
              padding: 3px 0;

              del {
                font-size: 12px;
                font-weight: 500;
                text-decoration: line-through;
                color: $primaryColor;
                margin-right: 5px;
              }

              span {
                font-size: 14px;
                font-weight: 500;
              }
            }

            .rating {
              color: #f5cc26;
              font-size: 19px;
            }
          }
        }
      }
    }

    .tags {
      button {
        color: $primaryColor;
        letter-spacing: 0.5px;

        &:hover {
          color: $darkColor;
        }
      }

      button:not(:last-child):after {
        content: "/";
        font-size: 16px;
        color: $primaryColor;
        margin: 0 7px;
      }
    }
  }

  .products {
    .product-card {
      .img {
        height: 270px;
      }
    }

    .load-more-btn {
      @include flex-display(flex, row, center, center);
      padding-top: 10px;

      button {
        padding: 10px 40px;
        font-size: 13px;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        background-color: $darkColor;
        color: #fff;
        transition: all 0.3s ease;

        &:hover {
          background-color: #adb5bd;
        }
      }
    }
  }
}

// ======= Responsive Design ======= //
@media screen and (max-width: 991.98px) {
  .sorting-bar {
    .wrapper {
      @include flex-display(flex, row, center, space-between);
      padding-left: 85px;

      .filter-btn {
        display: block;

        button {
          color: $primaryColor;

          svg {
            margin-top: 3px;
          }

          p {
            margin-left: 3px;
          }
        }
      }
    }
  }

  .sidebar-and-products {
    padding: 70px 0;

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 280px;
      transform: translateX(-290px);
      transition: all 0.3s ease;
      padding: 20px 30px 30px;
      background-color: #fff;
      overflow-y: auto;
      z-index: 99999;

      .search {
        padding: 15px 25px 40px 0;
      }

      .popular-products {
        padding-right: 0;
      }

      .close-btn {
        display: flex;
        justify-content: flex-end;
        padding: 0 0 20px 0;

        button {
          font-weight: 700;
        }
      }
    }
  }

  .show-sidebar-filter {
    transform: translateX(0px) !important;
  }
}

@media screen and (max-width: 767.98px) {
  .sorting-bar {
    .products-found {
      justify-content: center;
      padding-bottom: 15px;
    }

    .wrapper {
      padding-left: 0;
      justify-content: center;

      .filter-btn {
        padding-left: 30px;
      }
    }
  }

  .sidebar-and-products {
    padding: 50px 0 55px;
  }
}

@media screen and (max-width: 575.98px) {
  .sidebar-and-products {
    padding: 60px 0 70px;
  }
}