#breadcrumb {
  background-image: url(../../public/images/other/breadcrumb-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;

  .content {
    @include flex-display(flex, column, flex-start, center);

    h1 {
      color: $darkColor;
      font-size: 44px;
      font-weight: 400;
      letter-spacing: 2.5px;
      margin-bottom: 20px;
    }

    ul {
      font-size: 14px;

      li {
        padding: 0 9px 0 12px;
        position: relative;
        font-size: 16px;

        &:first-of-type {
          padding-left: 0;
        }

        &:not(:first-of-type) {
          &::before {
            content: "/";
            position: absolute;
            left: -1px;
            top: 0;
          }
        }

        a {
          text-decoration: none;
          transition: all 0.3s ease;
          color: $primaryColor;

          &:hover {
            color: $darkColor;
          }
        }
      }
    }
  }
}


// ======= Responsive Design ======= //
@media screen and (max-width: 991.98px) {
  #breadcrumb {
    .content {
      h1 {
        font-size: 30px;
      }
    }
  }
}