.product-card {
  margin-bottom: 40px;

  &:hover {
    .add-to-cart-btn {
      button {
        background-color: $darkColor;
        color: #fff;
      }
    }
  }

  .card-top {
    position: relative;

    .label-wrapper {
      position: absolute;
      top: 15px;
      left: 15px;
      z-index: 3;

      .label {
        font-size: 13px;
        font-weight: 500;
        line-height: 39px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
      }

      .sale {
        background-color: #98d8ca;
      }

      .new {
        background-color: $darkColor;
      }
    }

    .img {
      height: 350px;
    }
  }

  .card-bottom {
    padding-top: 10px;
    text-align: center;

    .title {
      a {
        color: $darkColor;
        text-decoration: none;
      }
    }

    .product-price {
      p {
        @include flex-display(flex, row, center, center);

        del {
          color: #aaaaaa;
          text-decoration: line-through;
          margin-right: 5px;
          font-weight: 600;
          font-size: 13px;
        }

        span {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .add-to-cart-btn {
      padding-top: 16px;

      button {
        border: 1px solid $darkColor;
        padding: 10px 0;
        width: 100%;
        line-height: normal;
        border-radius: 0;
        font-weight: 400;
        font-size: 14px;
        transition: all 0.5s ease;
      }
    }
  }
}

// ======= Responsive Design ======= //
@media screen and (max-width: 575.98px) {
  .product-card {
    .img {
      height: 500px !important;
    }
  }
}